[Desktop Entry]
Name=Cinnamon Screensaver
Comment=Desktop screensaver and lock
Exec=cinnamon-screensaver
Icon=cinnamon-screensaver
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;
